.dashboard{

    display:flex;

    flex-direction:column;

    gap:25px;

}

.dashboard-header h2{

    margin:0;

}

.dashboard-header p{

    color:#666;

    margin-top:5px;

}

.dashboard-cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}

.dashboard-card{

    background:#fff;

    border-radius:16px;

    padding:22px;

    display:flex;

    align-items:center;

    gap:20px;

    box-shadow:0 2px 12px rgba(0,0,0,.08);

    transition:.2s;

}

.dashboard-card:hover{

    transform:translateY(-3px);

}

.card-icon{

    width:60px;

    height:60px;

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:25px;

    color:white;

}

.sales{

    background:#3b82f6;

}

.transaction{

    background:#10b981;

}

.product{

    background:#f59e0b;

}

.customer{

    background:#8b5cf6;

}

.dashboard-card h4{

    color:#666;

    margin:0;

}

.dashboard-card h2{

    margin-top:8px;

}

.chart-card{

    background:#fff;

    border-radius:16px;

    padding:25px;

    box-shadow:0 2px 12px rgba(0,0,0,.08);

}

.chart-card h3{

    margin-bottom:20px;

}

.best-product-card{

    margin-top:25px;

    background:#fff;

    border-radius:16px;

    padding:25px;

    box-shadow:0 2px 12px rgba(0,0,0,.08);

}

.best-product-card h3{

    margin-bottom:20px;

}

.best-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 0;

    border-bottom:1px solid #eee;

}

.best-item:last-child{

    border-bottom:none;

}

.best-rank{

    display:flex;

    gap:12px;

    align-items:center;

    font-weight:600;

}

.best-count{

    color:#3b82f6;

    font-weight:bold;

}

.dashboard-bottom{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

    margin-top:20px;

}

.recent-sales-card{

    background:#fff;

    border-radius:16px;

    padding:25px;

    box-shadow:0 2px 12px rgba(0,0,0,.08);

}

.recent-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:14px 0;

    border-bottom:1px solid #eee;

}

.recent-item:last-child{

    border-bottom:none;

}

.recent-total{

    font-weight:bold;

    color:#3b82f6;

}