*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f5f7fa;
}

#app{
    display:flex;
    min-height:100vh;
}

.sidebar{

    width:250px;

    background:#1f2937;

    color:white;

}

.logo{

    padding:25px;

    font-size:22px;

    font-weight:bold;

    text-align:center;

    border-bottom:1px solid rgba(255,255,255,.1);

}

.logo i{

    margin-right:10px;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    margin:5px 0;

}

.sidebar a{

    color:white;

    text-decoration:none;

    display:flex;

    align-items:center;

    gap:12px;

    padding:15px 25px;

    transition:.2s;

}

.sidebar a:hover{

    background:#374151;

}

main{

    flex:1;

}

.navbar{

    height:70px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.user-info{

    display:flex;

    align-items:center;

    gap:15px;

}

.avatar{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#1f2937;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

}

.content{

    padding:30px;

}

.sidebar a.active {
    background: #2563eb;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.sidebar a:hover {
    background: #374151;
    border-radius: 8px;
}

.sidebar-user{
    text-align:center;
    padding:20px;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.sidebar-user small{
    display:block;
    color:#bdbdbd;
    margin-top:5px;
}