.page-header {

    margin-bottom:20px;

}


.page-header h1 {

    font-size:24px;

}



.card {

    background:white;

    padding:20px;

    border-radius:10px;

}



.table-header {

    margin-bottom:20px;

}



.search-input {

    padding:10px;

    width:300px;

    border:1px solid #ddd;

    border-radius:6px;

}



table {

    width:100%;

    border-collapse:collapse;

}



th,
td {

    padding:12px;

    border-bottom:1px solid #eee;

    text-align:left;

}